<div class="login-wrapper">
  <div class="container">
      <div class="left-login">
          <h1 tabindex="0">Login</h1>
          <p>Get access to your Orders, Wishlist and Recommandations.</p>
      </div>
      <form action="/">
          <div class="form-group">
              <input type="email" class="effect" placeholder="email" id="email" aria-required/>
              <label for="email">Email</label>
              <div class="error">
                  <p class="required">Email is required.</p>
                  <p class="invalid" _pattern="(.+)@(.+){2,}\.(.+){2,}">Email is invalid.</p>
              </div>
          </div>
          <div class="form-group">
              <input type="password" id="password" class="effect" placeholder="password" aria-required/>
              <label for="password">Password</label>
              <div class="error">
                  <p class="required">Password is required.</p>
              </div>
          </div>
          <button class="login-btn">login</button>
      </form>
  </div>

</div>