$orangered: #D00155;
$gray: #8080804f;
$light-gray: #867f7f;
$color-background: #efe6e6;
$footer-background: #e4e3e3;
$color-border: #f3eeee;
$text-color: #4b4949;

$container-margin: 10%;

$breakpoint-tablet: 765px;
$breakpoint-mobile: 520px;