@import '../../css/variables';
@import '../../css/_mixins';

.slider-wrapper {
    position: relative;
    overflow: hidden;

    .dots-wrapper {
        position: absolute;
    }

    .btn-ctrl {
        @include button(1rem, rgba(0,0,0,0.3), #ffffff);
        position: absolute;        
        top: 50%;
        transform: translateY(-50%);

        &:disabled {
            background-color: rgba(0,0,0,0.1);
        }

        &:first-child {
            left: 0px;
        }   

        &:last-child {
            right: 0px;
        }     
    }
    .dots-wrapper {
        position: absolute;
        width: 100%;
        bottom: 1rem;
        display: flex;
        justify-content: center;

        .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 10px;
            background: rgba(0,0,0,0.4); 
            cursor: pointer;
        }

        .dot--active {
            background: rgba(0,0,0,0.8);
        }
    }
}

.slider-content {
    position: relative;
    transition: left 0.6s linear;
    
    .image-wrapper {
        display: inline-block;

        img {
            display: inline-block;
        }
    }
}