<div class="register-wrapper">
  <div class="container">
      <div class="left-register">
          <h1 tabindex="0">Signup</h1>
          <p>We do not share your personal details with anyone.</p>
      </div>
      <form action="/">
          <div class="form-group">
              <input type="text" id="fname" class="effect" placeholder="first name"/>
              <label for="fname">First Name</label>
              <div class="error">
                  <p class="required">First Name is required.</p>
              </div>
          </div>
          <div class="form-group">
              <input type="text" id="lname" class="effect" placeholder="last name"/>
              <label for="lname">Last Name</label>
              <div class="error">
                  <p class="required">Last Name is required.</p>
              </div>
          </div>
          <div class="form-group">
              <input type="email" id="email" class="effect" placeholder="email"/>
              <label for="email">Email</label>

              <div class="error">
                  <p class="required">Email is required.</p>
                  <p class="invalid" _pattern="(.+)@(.+){2,}\.(.+){2,}">Email is invalid.</p>
              </div>
          </div>
          <div class="form-group">
              <input type="password" id="password" class="effect" mismatch  placeholder="password"/>
              <label for="password">Password</label>
              <div class="error">
                  <p class="required">Password is required.</p>
              </div>
          </div>
          <div class="form-group">
              <input type="password" id="c-password" class="effect" mismatch placeholder="confirm placeholder"/>
              <label for="c-password">Confirm Password</label>
              <div class="error">
                  <p class="required">Confirm Password is required.</p>
                  <p class="mismatch">Password not matched</p>
              </div>
          </div>
          <button class="register-btn">Signup</button>
      </form>
  </div>
</div>